*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(203, 201, 201);
}

section, h4{
    margin: 3rem 0;
}

h2{
    margin: 1rem 0;
}

h1, h2, h4{
    color: rgb(56, 122, 124);
    text-shadow: 1px 1px 1px;
}

p{
    margin: .5rem 0;
}

img{
    width: 50%;
}

img:hover{
    border-radius: 50px;
    width: 55%;
    cursor: pointer;
    border: 6px solid rgb(56, 122, 124);
    transition: 3s ease-out;
    transform: scale(.9);
}

ul:hover,ol:hover{
    cursor: pointer;
    background-color: rgba(12, 12, 12, 0.451);
    color: #fefefe;
    border-radius: 16px;
    padding: 16px 32px;
    transform: scale(.95);
    transition: 1s linear;
}